/* CSS cho bảng */
table {
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

td {
  font-family: Tahoma;
}

th {
  background-color: #4ccd99;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* CSS cho nút */
button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.btn-update {
  background-color: #67c6e3;
  margin-right: 8px;
  width: 100px;
}

.btn-delete {
  background-color: #ff004d;
  margin-left: 8px;
}

.btn-delete:hover {
  background-color: #b80000;
}

.btn-update:hover {
  background-color: #0056b3;
}

.btn-cancel {
  margin: 0 8px;
  background-color: #b2a59b;
}

.btn-cancel:hover {
  background-color: #c69774;
}

.popup-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 420px; /* Điều chỉnh chiều rộng của popup */
}

.popup-form h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.popup-form label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.popup-form input[type='text'],
.popup-form input[type='email'],
.popup-form input[type='password'] {
  width: calc(100% - 22px); /* Trừ đi chiều rộng của thanh cuộn */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 35px; /* Giảm chiều cao xuống 35px */
}

.popup-form select {
  width: 100%; /* Điều chỉnh chiều rộng của thanh role */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 36px; /* Giảm chiều cao xuống 35px */
}

.popup-form .form-group {
  margin-bottom: 20px;
}

.popup-form .form-group:last-child {
  margin-bottom: 0; /* Loại bỏ margin dưới của form-group cuối cùng */
}


.btn-cancel {
  width: 100px;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
}
.btn-create{
  width: 100px;
  height: 40px;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  background-color: green;
}
.btn-create:hover{
  background-color: darkgreen;
}

.btn-cancel {
  margin-right: 10px;
}


.popup-info h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.popup-info label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.popup-info input[type='text'],
.popup-info input[type='email'],
.popup-info input[type='password'] {
  width: calc(100% - 22px); /* Trừ đi chiều rộng của thanh cuộn */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 35px; /* Giảm chiều cao xuống 35px */
}

.popup-info select {
  width: 100%; /* Điều chỉnh chiều rộng của thanh role */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 36px; /* Giảm chiều cao xuống 35px */
}

.popup-info .form-group {
  margin-bottom: 20px;
}

.popup-info .form-group:last-child {
  margin-bottom: 0; /* Loại bỏ margin dưới của form-group cuối cùng */
}
.popup-info {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 70%; /* Điều chỉnh chiều rộng của popup */
}

.popup-activity {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80%; /* Điều chỉnh chiều rộng của popup */
}

.popup-activity h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.popup-activity label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.popup-activity input[type='text'],
.popup-activity input[type='email'],
.popup-activity input[type='password'] {
  width: calc(100% - 22px); /* Trừ đi chiều rộng của thanh cuộn */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 35px; /* Giảm chiều cao xuống 35px */
}

.popup-activity select {
  width: 100%; /* Điều chỉnh chiều rộng của thanh role */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 36px; /* Giảm chiều cao xuống 35px */
}

.popup-activity .form-group {
  margin-bottom: 20px;
}

.popup-activity .form-group:last-child {
  margin-bottom: 0; /* Loại bỏ margin dưới của form-group cuối cùng */
}

.popup-addTeamInMatch {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 420px; /* Điều chỉnh chiều rộng của popup */
  height: 400px;
}

.popup-addTeamInMatch h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.popup-addTeamInMatch label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.popup-addTeamInMatch input[type='text'],
.popup-addTeamInMatch input[type='email'],
.popup-addTeamInMatch input[type='password'] {
  width: calc(100% - 22px); /* Trừ đi chiều rộng của thanh cuộn */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 35px; /* Giảm chiều cao xuống 35px */
}

.popup-addTeamInMatch select {
  width: 100%; /* Điều chỉnh chiều rộng của thanh role */
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 36px; /* Giảm chiều cao xuống 35px */
}

.popup-addTeamInMatch .form-group {
  margin-bottom: 20px;
}

.popup-addTeamInMatch .form-group:last-child {
  margin-bottom: 0; /* Loại bỏ margin dưới của form-group cuối cùng */
}

.activity-table-container {
  max-height: 300px; /* Set your desired maximum height */
  overflow-y: scroll;
}

select{
  width: 300px;
  height: 40px;
}

.select-filter{
  margin-bottom: 8px;
}

option{
  width: 300px;
  height: 30px;
}
.calendar-wrapper{
  width: calc(100% - 22px);
}

.table-wrapper {
  max-height: 400px; /* Set the maximum height for the table */
  overflow-y: auto; /* Add vertical scrollbar if needed */
}
