/* DashboardOrganization.css */

.dashboard-organization {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header Styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.welcome-user {
  font-size: 16px;
}

/* Subtopnav Styles */
.subtopnav {
  background-color: #c6e3eb;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.subtopnav-item {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.subtopnav-item:hover {
  background-color: #141b0b;
}

/* Display Screen Styles */
.display-screen {
  margin-top: 20px;
  padding: 20px;
}

