/* MapList.css */

/* Container styles */
.MapList-container {
  max-width: 800px;
  margin: auto;
}

/* Create Map section styles */
.CreateMap-section {
  margin-bottom: 20px;
}

.CreateMap-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.CreateMap-section label {
  display: block;
  margin-bottom: 5px;
}

.CreateMap-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.CreateMap-section button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Display Maps section styles */
.DisplayMaps-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.DisplayMaps-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.DisplayMaps-section th, .DisplayMaps-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.DisplayMaps-section th {
  background-color: #4caf50;
  color: white;
}

.DisplayMaps-section button {
  margin-right: 5px;
  padding: 6px 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
}
